@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron wrapper">
    <h1>AMASON</h1>
    <p class="lead">Amason es la nueva tienda de España que para nada copia el modelo de otra.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>
            En nuestra tienda puede ver productos a través de la pestaña "productos". En ella 
            podrá observar el nombre del producto, la imagen asociada, el precio y la opción 
            de añadir el producto a su carrito. También puede ver el stock que hay en la tienda 
            del producto, no pudiendo añadir al carrito en caso de que no haya productos suficientes.
        </p>
        <p><a href="@Url.Action("Index", "Products")" class="btn btn-info">Productos</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos</h2>
        <p>
            En nuestra tienda también puede visualizar los pedidos que haya comprado. Podrá observar el importe total, 
            los productos que ha comprado y la fecha de adquisición. Solo para usuarios registrados.
        </p>
        <p><a href="@Url.Action("Index", "Orders")" class="btn btn-info">Pedidos</a></p>
    </div>
</div>